/* For demo */
/* @import 'antd/dist/antd.css'; */

.ant-carousel .slick-slide {
    text-align: center;
    /* height: 100%; */
    overflow: auto;
  }
  
  .ant-carousel .slick-slide img {
    color: #01A7FF;
  }

  .textfloat{
 position: relative;
    text-align: left;
    color: white;
  }
  .textcentered {
    position: absolute;
    top: 10%;
    left: 10%;
    right:5%;
    font-size: 1.9em;
    /* transform: translate(-50%, -50%); */
}