.panel {
  animation: portal-login 1s forwards 1;
  animation-delay: 0.6s;
  transform: translateY(20px);
  opacity: 0;
  background-color: red
}
.maingrid{
  // background-color: aqua;
  height: inherit;
}
.sidebar{
  height:inherit;
  // overflow: scroll;
  background-color:blueviolet;
  position: relative;
  @media only screen and (max-width:599px) {
    display: none
  }
}
.bgImg{
  width: 100%;
  height: 100%;
  // z-index: -1;
}
.sidebarContent{
  position: absolute;
  top: 0%;
  left: 0%;
  height: inherit;
  color: white;
  margin-left: 10% !important;
  margin-right: 10% !important;
  display: flex;
  flex-direction: column;
  // overflow: scroll;
}
.sidebarContent h4{
  font-weight: 600;
    line-height: 1.6em;
    font-size: 1.25em;
    margin-top: 5%;
    margin-bottom: 5%;
}
.sidebarContent p{
  font-size: 0.8em;
  line-height: 1.5em
}
.schrockenLogo{
  // margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 40%;
  height: 8%;
}
.hyperLogo{
  margin-top: 10%;
  margin-bottom: 2%;
  width: 40%;
  height: 8%; 
}
.blockchainLogo{
  margin-top: 10%;
  margin-bottom: 2%;
  width: 40%;
  height: 8%; 
}
.card {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-repeat: no-repeat;
}

.login-actions {
  justify-content: space-between;
}

.signup-content {
  text-align: center;
}

.signup-logo {
  height: 64px;
}

@keyframes portal-login {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
