

.primary-grid{
    display: flex;
    /* flex-direction: row; */
  /* margin-top:0%; */
}

.bannerwhite{
  position: fixed;
  width:250px;
  top: 3em;
  left: 30px;
}
.request-demo-button{
  display: inline-block;
  box-shadow: none;
  border-width: 2px;
  border-radius: 7px;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  box-shadow: none;
  font-size: 1.1em;
  border-color: #FFFFFF;
  color: #FFFFFF;

  position: fixed;
  bottom: 6em;
  left: 100px;
  
}
ul {
  margin-top: none;
}
.carousel-box{
   width:400px;
    border-color: brown;
}

.signup-box{
    width:'100%';
    height:'100%';
    margin:5% ;
    border-color: aqua;
}

.brandingsup{
  display: none;
 
}
/* .brandingsup{
  max-height: 100px;
  max-width: auto;
} */

.heading{
 font-size: 2.5em;
 color:#498FE2;
}

.cardreg{
    margin-top:2%;
    height:inherit;
    width:700px;
    padding: 40px ;
    /* margin: 40px; */
    position: relative;
    border-color: black;
    box-shadow: 0px 1px 10px 3px #D4D2D6;
    /* box-shadow: 0px 1px 7px #acacac; */
    border-radius: 5px;
    display: inline-block;
    background-size: 100%;
  }

  .emailreg{
    display: flex;
    width: 100%;
    height: 30px;
    align-self: center;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 1px #cacaca;
    border-width: 0ch;
    border-radius: 2px;
    outline: none;
    font-size: 20px;
    color: #969598;
  }

  .passwordreg{
    display: flex;
    width: 100%;
    height: 30px;
    align-self: center;
    margin-top: 2%;
    box-shadow: 0px 0px 2px 1px #cacaca;
    border-width: 0ch;
    border-radius: 2px;
    outline: none;
    font-size: 20px;
    color: #969598;
  }

  .submitbuttonreg{
     width: fit-content;
    height: 50px;
    border-radius: 5px;
    /* box-shadow: 0px 1px 10px #cacaca; */
    background-color: #498FE2;
    margin-top: 4%;
    padding: 0px 10px 0px 10px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    outline: none; 

      }

      .continuebutton{
        margin-top: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
        color: whitesmoke;
        background-color: #F46422;
        box-sizing: 0;
        box-shadow: none;
        border: 0;
        width: 20%;
        border-radius: 5px;
        margin-bottom: 2%;
    }

      .signinreg{
        display: inline-block;
        box-shadow: none;
        border-width: 2px;
        border-radius: 7px;
        padding: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: transparent;
        box-shadow: none;
        font-size: 1.1em;
        border-color: #F46422;
        color: #F46422;
      }

      .lastdiv{
        margin-top:10vh;
      }

      .copyrightreg{
bottom: 1px;
color: #8D9293;
font-size: 0.9em;
bottom: 10px;
position: fixed;
      }
   
      
      /* -----------------------------MOBILE VIEW--------------------------------- */
@media only screen and (max-width: 500px) {
        
    .primary-grid{
        display: flex;
        flex-direction: row;
        
    }
    
    .carousel-box{
      display: none;
    }

 /* .brandingsup{
  display: none;
} */

.brandingsup{
  display: table;
  max-height: 60px;
vertical-align: center;  text-align: center;
margin-left: auto;
margin-right: auto;
}

     
    .signup-box{
        width:'100%';
        height:'100%';
        /* margin:5%; */
        /* margin: 0%; */

        border-color: aqua;
    }
    
    .heading{
      font-size: 1.5em;
      color:#498FE2;
      text-align: center;
     }

    .cardreg{
        margin-top:3%;
        height:inherit;
        width:auto;
        padding: 30px ;
        /* margin: 40px; */
        position: relative;
        border-color: black;
        box-shadow: 0px 1px 10px 3px #D4D2D6;
        /* box-shadow: 0px 1px 7px #acacac; */
        border-radius: 5px;
        display: inline-block;
        background-size: 100%;
      }
    
      .emailreg{
        display: flex;
        width: 100%;
        height: 30px;
        align-self: center;
        margin-top: 2%;
        box-shadow: 0px 0px 2px 1px #cacaca;
        border-width: 0ch;
        border-radius: 2px;
        outline: none;
        font-size: 20px;
        color: #969598;
      }
    
      .passwordreg{
        display: flex;
        width: 100%;
        height: 30px;
        align-self: center;
        margin-top: 2%;
        box-shadow: 0px 0px 2px 1px #cacaca;
        border-width: 0ch;
        border-radius: 2px;
        outline: none;
        font-size: 20px;
        color: #969598;
      }
    
      .continuebutton{
        margin-top: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
        color: whitesmoke;
        background-color: #F46422;
        box-sizing: 0;
        box-shadow: none;
        border: 0;
        width: 80px;
        border-radius: 5px;
        margin-bottom: 2%;
    }

      .signinreg{
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border-width: 2px;
        border-color: #E36E39;
        margin-left: 20px;
        padding: 0px 10px 0px 10px;
        color: #E36E39;
        font-size: 1em;
        font-weight: bold;
        outline: none;
      }
      .lastdiv{
        margin-top:5%;
        text-align: center;
      }

      .copyrightreg{
        color: #8D9293;
        font-size: 0.9em;
        text-align: center;
margin-left: 10%;
              }

}

/* 
display: table;
  max-height: 60px;
vertical-align: center;  text-align: center;
margin-left: auto;
margin-right: auto; */